<%- include partials/top.ejs %>

<%- include partials/nav.ejs %>

<div class="container mt-3">

  <h1>Users:</h1>

  <%# Entrys %>
  <%- include partials/user/userCard.ejs %>

</div>



<%# Modal %>
<%- include partials/user/userModal.ejs %>


<%- include partials/bottom.ejs %>
